body {
    background: linear-gradient(to left, #7808f0, #06bdf5);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calci {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

#display {
    width: 95%;
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    text-align: right;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button, .operator {
    padding: 15px;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.25s;
    background-color: white;
}

.button:hover, .operator:hover {
    background-color: #192192;
    color: white;
}

.zero {
    grid-column: span 2;
}
